<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    <!-- THE NAVBAR -->
   {{>navbar}}


<!-- Main -Home -->
<div class= "container-fluid main_header">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row">
       
        <div class="col-md-6 col-12 main_header_left">
         
          <p>Thanks to come over here</p>
          <h1>My name is <span class="text_clr">Mohd Faiz Aslam</span></h1>
          <a href="https://www.linkedin.com/in/faiz-aslam-49551b194/" target="__faiz"><button>About Me</button></a>
        </div>
        <!-- Left Side div  -->
        <div class="col-md-5 col-5 main_header_right align-items-center ">
          <figure>
            <img src="images/about__1.jpeg" alt="faiz" class="img-fluid" title="Faiz Aslam">
          </figure>
         
                 
                  <!-- <div class="carousel-item">
                    <img class="d-block w-2" src="images/about__1.jpeg" alt="Third slide">
                  </div> -->
                </div>
              </div>
        </div>
          
      </div>
  </div>
</div>
</div>
</div>
{{>footer}}
  
   

 
 
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>